@if(!isSending){
<form [formGroup]="applyForm" class="aluno-form" (ngSubmit)="submitAlunoForm()">
  <h3>Preencha seus dados</h3>
  <div>
    <mat-form-field [ngStyle]="{ width: '600px' }" appearance="fill">
      <mat-label>Nome</mat-label>
      <input
        formControlName="nome"
        matInput
        placeholder="Digite o nome completo"
        required
      />
      <mat-icon matSuffix>badge</mat-icon>
      <mat-hint>Nome completo</mat-hint>
    </mat-form-field>
  </div>
  <div [ngClass]="'form-row'">
    <mat-form-field appearance="fill" [ngStyle]="{ 'flex-grow': '2' }">
      <mat-label>Email</mat-label>
      <input
        required
        formControlName="email"
        matInput
        placeholder="Digite seu email"
      />
      <mat-icon matSuffix>alternate_email</mat-icon>
      <mat-hint>Email para contato</mat-hint>
    </mat-form-field>
  </div>
  <div [ngClass]="'form-row'">
    <mat-form-field appearance="fill" [ngStyle]="{ 'flex-grow': '1' }">
      <mat-label>Telefone</mat-label>
      <input
        formControlName="telefone"
        matInput
        placeholder="Digite seu Número: (DDD) + Número"
        (input)="formatarTelefone($event, applyForm.get('telefone'))"
        maxlength="15"
      />
      <mat-icon matSuffix>phone</mat-icon>
      <mat-hint>Telefone para contato</mat-hint>
    </mat-form-field>
    <app-loading-form-field
      [ngStyle]="{ 'flex-grow': '1', display: 'flex' }"
      [control]="escolaControl"
      [label]="'Escola'"
      [icon]="'school'"
      [fetchData]="loadingSchoolData"
    >
    </app-loading-form-field>
  </div>
  <div [ngClass]="'form-row'">
    <mat-form-field [ngStyle]="{ 'flex-grow': '1' }" appearance="fill">
      <mat-select
        [disabled]="!enableTurma"
        (selectionChange)="onChangeTurma($event)"
        required="true"
        multiple
      >
        @for (turma of turmasOptions; track $index) {
        <mat-option [value]="turma">{{ showTitleOfTurma(turma) }}</mat-option>
        }
      </mat-select>
      <mat-label>Turmas</mat-label>
      <mat-icon matSuffix>groups</mat-icon>
    </mat-form-field>
  </div>
  <div class="send-div">
    <button
      [disabled]="!applyForm.valid || selectedTurmas.size == 0"
      type="submit"
      mat-stroked-button
      color="primary"
      class="send-button"
    >
      <span>Cadastrar</span>
    </button>
  </div>
</form>
} @else {
<div
  [ngStyle]="{
    display: 'flex',
    'flex-direction': 'column',
    'align-items': 'center',
    'margin-top': '100px'
  }"
>
  <h1>Enviando...</h1>
  <p>Por favor, aguarde</p>
  <mat-spinner></mat-spinner>
</div>
}
