:host h3 {
    font-size: 1.5rem;
    color: var(--gray-700);
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -0.0625rem;
    margin-bottom: 3rem;
    margin-top: 0;
    font-family: inherit;
}

@media screen and (max-width: 600px) {
    :host {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    :host h3{
        text-align: center;
        margin-bottom: 2rem;
    }
  }