@if(!isSending){ <form [formGroup]="applyForm" class="aluno-form" (ngSubmit)="submitAlunoForm()">
    <h3>Preencha seus dados</h3>
    <div>
        <mat-form-field [ngStyle]="{'width':'600px'}" appearance="fill" >
          <mat-label>Nome</mat-label>
          <input formControlName="name" matInput placeholder="Digite o nome completo" required>
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          <mat-hint>Nome completo</mat-hint>
        </mat-form-field>
    </div>
    <div [ngClass] = "'form-row'">
        <mat-form-field appearance="fill" [ngStyle]="{'flex-grow':'2'}" >
            <mat-label>Email</mat-label>
            <input required formControlName="email" matInput placeholder="Digite seu email">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            <mat-hint>Email para contato</mat-hint>
        </mat-form-field>
        <mat-form-field appearance="fill" [ngStyle]="{'flex-grow':'1'}" >
            <mat-select formControlName="escola" required="true" (selectionChange)="onChange($event.value)">
                @for (escola of escolasOptions; track escola.id) {
                    <mat-option [value]="escola.id">{{escola.name}}</mat-option>
                }
            </mat-select>
            <mat-label>Escola</mat-label>
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        </mat-form-field>
    </div>
    <div [ngClass] = "'form-row'">
        <mat-form-field [ngStyle]="{'flex-grow':'1'}" appearance="fill">
            <mat-select formControlName="turma" required="true" [disabled]="turmasOptions.length==0">
                @for (turma of turmasOptions; track $index) {
                    <mat-option [value]="turma">{{turma}}</mat-option>
                }
            
            </mat-select>
            <mat-label>Turma</mat-label>
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        </mat-form-field>
        <mat-form-field [ngStyle]="{'flex-grow':'2'}" appearance="fill">
            <mat-label>Ano da turma</mat-label>
            <input formControlName="ano_escolar" matInput placeholder="Selcione o ano referente a essa turma">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        </mat-form-field>
    </div>
    <div class="send-div">
        <button [disabled]="!applyForm.valid" type="submit" mat-stroked-button color="primary" class="send-button">
            <span>Enviar</span>
        </button>
    </div>
</form>}
@else {
    <div [ngStyle]="{'display':'flex','flex-direction':'column', 'align-items':'center', 'margin-top':'100px'}">
        <h1>Enviando...</h1>
        <p>Por favor, aguarde</p>
        <mat-spinner></mat-spinner>
    </div>
  }


