:host .primary {
  --pill-accent: var(--bright-blue);
}

:host .secondary {
  --pill-accent: var(--electric-violet);
}

:host .tertiary {
  --pill-accent: var(--vivid-pink);
}

:host .quaternary {
  --pill-accent: var(--hot-red);
}

.link-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 0.5rem;
}

.link-text {
  flex: 1;
}

.link-icon {
  position: absolute;
  top: -10px;
  right: 0px;
  font-size: 24px;
  color: green;
}

.tooltip {
  position: fixed;
  background-color: #333;
  color: white;
  padding: 8px 12px;
  border-radius: 4px;
  font-size: 14px;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.2s;
  z-index: 1000;

  &.visible {
    opacity: 1;
  }

  // Seta opcional
  &::after {
    content: "";
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translateX(-50%);
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #333 transparent;
  }
}
