<h2>Formulário dos eixos cognitivos</h2>

<div style="display: flex; flex-direction: column; align-items: flex-start;  text-align: justify; width: 45rem;">
    <p>Olá aluno! Esse formulário tem uma metodologia diferente, lhe enviaremos uma planilha para você preencher e evia-la de volta.
        Com ela podemos avaliar as competências que todas as disciplinas possuem em comum, são as de eixo cognitivo, em comum entre 
        todas as áreas de conhecimento.
    </p>
    
    <span>Como preencher:</span>
    <p> A planilha tera uma linha para cada disciplina e uma coluna para cada competência, no final uma coluna com um somatório.
        Você terá 10 pontos para distribuir em cada linha, distribua para uma disciplina o valores de cada competências que você
        acha que encontrou ao longo do seu aprendizado.
    </p>
    <p> Caso ache que não teve nada dessa competência na disciplina não preecha, mas lembre-se que o somatório precisa conter 10 pontos.</p>
    <p> Leia com atenção a competência e estime em um valor de 0 a 10.</p>
    <p>Para baixar a planilha clique <a href="https://drive.google.com/file/d/1Z9Q6" target="_blank">aqui</a></p>
    <p>Anexe o arquivo aqui:</p>
    <input type="file" name="file" id="file" accept=".xlsx">
    <button>Enviar</button>
    <p> Obrigado !</p>
</div>
