<h2>Instruções</h2>
<mat-dialog-content class="mat-typography">
  <h3>Cadastrar</h3>
  <p>
    Após clicar na opção "Se cadastrar", registre seu e-mail e nome, para que
    podemos identificá-lo e contatá-lo se for necessário. O número de telefone é
    opcional, para deixar o contato mais eficiente. Em seguida, será mostrado o
    campo da sua escola, selecione-a e terá disponíveis as turmas para poder
    avaliar.
    <span class="important">
      A seleção das turmas é múltipla, fique atento ao respectivo ano em que
      você lecionou para a turma </span
    >, é importante selecionar todas as turmas disponíveis que você tenha
    lecionado naqueles anos. Finalmente, confirme seu cadastro clicando no botão
    "Cadastrar".
  </p>

  <h3>Selecionar turma para avaliação</h3>
  <p>
    Uma vez cadastrado, será levado para a seleção das turmas, com sua
    respectiva escola já selecionada. Selecione a turma que deseja avaliar,
    selecione o nome castrado na seção "Professor" e confirme para iniciar a
    avaliação do questionário. Cada turma contém uma avaliação individual
    referente ao seu ano, caso tenha mais de uma turma após acabar a avaliação é
    necessário repetir o processo para outras turmas.
    <span class="important">
      É importante lembrar que como as avaliações são individuais, uma resposta
      genérica para todas não seria interessante para nossas pesquisas, sabemos
      que pode ser um pouco cansativo, mas contamos com sua disposição.</span
    >
  </p>

  <p>
    <strong>Nota</strong>: O cadastro so precisa ser realizado uma vez, você
    pode acessar esta tela a hora que quiser, com a opção "Fazer avaliação de
    competências" na tela inicial.
  </p>

  <h3>Seleção de disciplinas</h3>
  <p>
    Ao escolher a turma, teremos as opções das grandes áreas de estudo.
    Selecione sua área, em seguida serão listadas as disciplinas da turma,
    selecione a disciplina na qual lecionou para iniciar a avaliação de
    competências. Após a avaliação, sua disciplina estará marcada, para que você
    e seus colegas possam identificar e se orientar. Caso tenha lecionado em
    mais de uma disciplina para aquela turma, basta selecioná-la e fazer sua
    avaliação da mesma forma.
  </p>

  <h3>Avaliando competências</h3>
  <p>
    Avaliar uma competência é simples, basta ler a descrição da competência, selecionar
    um valor e clicar em 'Próxima'. As competências são divididas em dois tipos, temos as competências de área,
    elas são comuns entre as disciplinas daquela área de conhecimento e
    específico. O outro tipo são as competências cognitivas, presentes em todas
    as disciplinas. Dessa forma, nosso questionário contém duas partes, que
    serão enviadas separadamente.
  </p>

  <p>
    <strong>Competências de área</strong>: Para responder as competências de
    área é simpes, a descrição da competência será exibiba em letras grandes.
  </p>

  <h1>(Nome da disciplina) - (Competência)</h1>

  <p>
    Como se fosse um título, esse texto será a competência que você estará
    avaliando na turma, ela é subdividida em habiliades, cada habilidade recebe
    um valor entre 1 e 10. Leia a habilidade atentamente e avalie a turma. Após
    encerrar a primeira parte envie suas respostas.
  </p>

  <p>
    <strong>Competências de cognitivas</strong>: As competências cognitivas
    funcionam da mesma forma, porém não são subdividas em habilidades e são
    comuns para outras disciplinas que não pertencem a área. Por conta disso
    basta avalia-la pela descição do "título", como sabemos que essa competência
    pode nem ter sido considerada na disciplina ela possui a faixa de valores de
    0 a 10, atribua 0 caso ela não tenha sido trabalhada no aprendizado da
    turma.
  </p>

  <p>
    Caso deseje editar suar respostas basta selecionar a disciplina que ja tenha
    realizado a avaliação e fazer de novamente.
  </p>

  <p>
    Após ter termindo a avaliação será levado novamente para seleção de
    disciplinas. Caso deseje avaliar outra turma clique no botão "Voltar a tela
    incial", vá para a opção "Fazer avaliação de competências" e repita o
    processo até ser avaliado todas as turmas.
    <span class="important">
      O processo termina quando todas as suas turmas e disciplinas forem
      avalidadas</span
    >.
  </p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Fechar</button>
</mat-dialog-actions>
