.main-form-component {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.5rem;
  width: 100%;
  max-width: 1000px;
  margin-bottom: 3rem;
}

:host .mat-form-selector {
  width: 200px;
}

:host .no-competences {
  display: flex;
  justify-content: center;
  font-style: normal;
  color: rgba(128, 0, 128, 0.466);
  margin-top:30px ;
}

.mat-stepper-horizontal {
    margin-top: 8px;
  }
  
.mat-mdc-form-field {
  margin-top: 16px;
}