:host .mat-form-selector {
  width: 500px;
}

:host mat-slider{
  width: 452px;
  
}

.label-mat-slider{
  color:#44474e;
  text-align: start;
  font-size: small;
  margin-top: 2rem;
}

:host .no-competences {
  display: flex;
  justify-content: center;
  align-self: center;
  font-style: normal;
  color: var(--strong-purple);
  margin-top:30px ;
}

.mat-stepper-horizontal {
    margin-top: 8px;
  }
  
.mat-mdc-form-field {
  margin-top: 16px;
}

.back-button{
  --pill-accent: rgba(133, 14, 117, 0.753);
}