<div class="mainForm">
  @defer(when loadingCompetencias | async){ @if(formMode == 'AREA'){
  <form [formGroup]="questionarioAreasFormGroup">
    @if(competences.length > 0){
    <mat-stepper
      #linearVerticalStepper="matVerticalStepper"
      [linear]="isLinear"
      formArrayName="competences"
      #stepper
    >
      @for (competence of iterableCompetences; track competence; let i = $index)
      {
      <mat-step
        #mat_step
        [formGroupName]="i"
        [stepControl]="competences?.get([i])"
      >
        <ng-template matStepLabel>>{{ "Q" }}{{ i + 1 }}</ng-template>
        <h3>
          {{ tituloDisciplina | decodeUTF8 }} -
          {{ competence.descricao }}
        </h3>
        <ng-container formArrayName="habilidades">
          <div
            [ngStyle]="{
              display: 'flex',
              'flex-direction': 'column',
              'max-width': '1500px'
            }"
            *ngFor="let habilidade of competence.habilidades; let j = index"
          >
            <span [ngStyle]="{ 'text-align': 'start' }">{{
              j + 1 + " - " + habilidade.question
            }}</span>
            <span ngClass="label-mat-slider"
              >Escolha um valor entre 1 a 10</span
            >
            <mat-slider min="1" max="10" step="0.5" discrete showTickMarks>
              <input matNativeControl [formControlName]="j" matSliderThumb />
            </mat-slider>
          </div>
        </ng-container>
        <div
          [ngStyle]="{
            display: 'flex',
            'justify-content': 'center',
            gap: '45px'
          }"
        >
          @if(i!=0){
          <button mat-button matStepperPrevious>Anterior</button>
          }
          <button mat-button matStepperNext>Próximo</button>
        </div>
      </mat-step>
      }
      <mat-step>
        <ng-template matStepLabel>Fim</ng-template>
        Gostaria de enviar a parte (1/2) do questionário das áreas?
        <div>
          <button mat-button matStepperPrevious>Voltar</button>
          <button mat-button (click)="onSubmit(stepper)">Enviar</button>
        </div>
      </mat-step>
    </mat-stepper>
    } @else {
    <h3 class="no-competences">
      {{ errorNote }}Nenhuma competência encontrada
    </h3>
    }
  </form>
  } @else{
  <form [formGroup]="questionarioCognitivoFormGroup">
    @if(competencesCognitive.length > 0){
    <mat-stepper
      #linnearVerticalStepper="matVerticalStepper"
      [linear]="isLinear"
      formArrayName="competencesCognitive"
      #stepper
    >
      @for (competence of iterableCognitives; track competence; let i = $index)
      {
      <mat-step
        #mat_step
        [formGroupName]="i"
        [stepControl]="competencesCognitive?.get([i])"
      >
        <ng-template>{{ "Q" }}{{ i + 1 }}</ng-template>
        <h3>
          {{ tituloDisciplina | decodeUTF8 }} -
          {{ competence.descricao_pergunta }}
        </h3>
        <div [style]="{display:'flex', 'flex-direction': 'column',}">
          <span [ngClass]="'label-mat-slider'"
            >Escolha um valor entre 0 a 10</span
          >
          <mat-slider min="0" max="10" step="0.5" discrete showTickMarks>
            <input
              matNativeControl
              [formControlName]="'resposta'"
              matSliderThumb
            />
          </mat-slider>
        </div>
        <div
          [ngStyle]="{
            display: 'flex',
            'justify-content': 'center',
            gap: '45px'
          }"
        >
          @if(i!=0){
          <button mat-button matStepperPrevious>Anterior</button>
          }
          <button mat-button matStepperNext>Próximo</button>
        </div>
      </mat-step>
      }<mat-step>
        <ng-template matStepLabel>Fim</ng-template>
        Gostaria de enviar a parte (2/2) do questionário das competências
        cognitivas (comum entre áreas)?
        <div>
          <button mat-button matStepperPrevious>Voltar</button>
          <button mat-button (click)="onSubmit(stepper)">Enviar</button>
        </div>
      </mat-step>
    </mat-stepper>
    }@else {
    <h3 class="no-competences">Nenhuma competência encontrada</h3>
    }
  </form>
  } }@placeholder{

  <div style="display: flex; justify-content: center; align-items: center">
    <mat-spinner [diameter]="50"></mat-spinner>
    <span class="loading-text">Carregando...</span>
  </div>
  }

  <div class="pill-group">
    <a
      class="pill back-button"
      routerLink="/disciplinas"
      [state]="{ itemData: itemSelecionado }"
    >
      <span>Voltar ao menu *</span>
    </a>
  </div>
</div>
